<!DOCTYPE html>
<html>
<head>
        
	{<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="author" content="">
	<title>ELITE ACADÉMICO</title>

	<!-- Styles -->
	<link href="dashboard/assets/css/bootstrap.min.css" rel="stylesheet" media="screen">
		<link href="dashboard/assets/css/chartist.min.css" rel="stylesheet" media="screen">
	<link href="dashboard/assets/css/owl.carousel.min.css" rel="stylesheet" media="screen">
	<link href="dashboard/assets/css/owl.theme.default.min.css" rel="stylesheet" media="screen">
	<link href="dashboard/assets/css/jquery.dataTables.min.css" rel="stylesheet" media="screen">
	<link href="dashboard/assets/css/responsive.dataTables.min.css" rel="stylesheet" media="screen">
		<!-- Select multiple -->
	<link href="dashboard/assets/plugins/select2/css/select2.min.css" rel="stylesheet" media="screen">
	<link href="dashboard/assets/css/style.css" rel="stylesheet" media="screen">

	<!-- Fonts -->
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>
	<link href="dashboard/assets/fonts/font-awesome/css/font-awesome.min.css" rel="stylesheet" media="screen">

</head>
<body>
		<div class="row dashboard-top-nav">
			<div class="col-sm-3 logo">
				<h5><i class="fa fa-book"></i>ELITE ACADÉMICO</h5>
			</div>
			<div class="col-sm-4 top-search">
				<div class="search">
					<i class="fa fa-search"></i>
					<input type="text" placeholder="Search">
				</div>
			</div>
			<div class="col-sm-5 notification-area">
				<ul class="top-nav-list">
					<li class="notification dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							<i class="fa fa-bell-o"></i>
							<span class="badge nav-badge">3</span>
						</a>
						<ul class="dropdown-menu notification-list">
							<li>							
								<div class="list-msg">
									<div class="col-xs-2 icon clear-padding">
										<i class="fa fa-trophy"></i>
									</div>
									<div class="col-sm-10 desc">
										<h5><a href="#">Upcoming Sports Meet</a></h5>
										<h6><i class="fa fa-clock-o"></i> 10 min ago</h6>
									</div>
									<div class="clearfix"></div>
								</div>
							</li>
							<li>
								<div class="list-msg">
									<div class="col-xs-2 icon clear-padding">
										<i class="fa fa-paint-brush"></i>
									</div>
									<div class="col-sm-10 desc">
										<h5><a href="#">Fine art workshop</a></h5>
										<h6><i class="fa fa-clock-o"></i> 1 hour ago</h6>
									</div>
									<div class="clearfix"></div>
								</div>
							</li>
							<li>
								<div class="list-msg">
									<div class="col-xs-2 icon clear-padding">
										<i class="fa fa-birthday-cake"></i>
									</div>
									<div class="col-sm-10 desc">
										<h5><a href="#">Annual fest</a></h5>
										<h6><i class="fa fa-clock-o"></i> 1 day ago</h6>
									</div>
									<div class="clearfix"></div>
								</div>
							</li>
							<li>							
								<div class="list-msg">
									<div class="col-xs-2 icon clear-padding">
										<i class="fa fa-trophy"></i>
									</div>
									<div class="col-sm-10 desc">
										<h5><a href="#">Upcoming Sports Meet</a></h5>
										<h6><i class="fa fa-clock-o"></i> 10 min ago</h6>
									</div>
									<div class="clearfix"></div>
								</div>
							</li>
							<li>
								<div class="all-notifications">
									<a href="#">VIEW ALL NOTIFICATIONS</a>
								</div>
							</li>
						</ul>
					</li>
					<li class="message dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							<i class="fa fa-comment-o"></i>
							<span class="badge nav-badge">5</span>
						</a>
						<ul class="dropdown-menu notification-list">
							<li>
								<div class="list-msg">
									<div class="col-xs-2 image clear-padding">
										<img src="dashboard/assets/img/parent/parent2.jpg" alt="user" />
									</div>
									<div class="col-sm-10 desc">
										<h5><a href="#">John Doe</a></h5>
										<p>Lorem Ipsum is simply dummy text.</p>
										<h6><i class="fa fa-clock-o"></i> 1 day ago</h6>
									</div>
									<div class="clearfix"></div>
								</div>
							</li>
							<li>
								<div class="list-msg">
									<div class="col-xs-2 image clear-padding">
										<img src="dashboard/assets/img/parent/parent1.jpg" alt="user" />
									</div>
									<div class="col-sm-10 desc">
										<h5><a href="#">Lenore Doe</a></h5>
										<p>Lorem Ipsum is simply dummy text.</p>
										<h6><i class="fa fa-clock-o"></i> 1 day ago</h6>
									</div>
									<div class="clearfix"></div>
								</div>
							</li>
							<li>
								<div class="all-notifications">
									<a href="#">VIEW ALL MESSAGES</a>
								</div>
							</li>
						</ul>
					</li>
					<li class="user dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							<0span><img src="dashboard/assets/img/parent/parent2.jpg" alt="user">JOHN DOE<span class="caret"></span></span>
						</a>0
						<ul class="dropdown-menu notification-list">
							<li>
								<a href="#"><i class="fa fa-cogs"></i> DEFINIÇÕES</a>
							</li>
							<li>
								<a href="#"><i class="fa fa-users"></i> PERFIL DO UTILIZADOR</a>
							</li>
							<li>
								<a href="#"><i class="fa fa-key"></i>ALTERAR PASSWORD</a>
							</li>
							<li>
								<a href="#"><i class="fa fa-cogs"></i> DEFINIÇÕES</a>
							</li>
							<li>
								<div class="all-notifications">
									<a href="{{ route('logout') }}" onclick="event.preventDefault();
									document.getElementById('logout-form').submit();">TERMINAR SESSÃO</a>
						    	</div>
							    <form id="logout-form" action="logout" method="POST" style="display: none;">
									{{ csrf_field() }}
								  </form>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
        	
		<div class="parent-wrapper" id="outer-wrapper">
			<!-- SIDE MENU -->
			<div class="sidebar-nav-wrapper" id="sidebar-wrapper">
				<ul class="sidebar-nav">

					@if(Auth::user()->user_access_id==3)

					<li>
						<a  href="/"><i class="fa fa-home menu-icon"></i> Início</a>
					</li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							<i class="fa fa-users menu-icon"></i> ESTUDANTES <span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
							<li>							
								<a href="/novo_estudante"><i class="fa fa-caret-right"></i>+NOVO ESTUDANTE</a>
							</li>
							<li>
								<a href="/todos_estudantes"><i class="fa fa-caret-right"></i>TODOS ESTUDANTES  </a>
							</li>
						</ul>
						<div class="clearfix"></div>
					</li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							<i class="fa fa-user-secret menu-icon"></i> DOCENTES <span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
							<li>							
								<a href="/novo_docente"><i class="fa fa-caret-right"></i>+NOVO DOCENTE</a>
							</li>
							<li>
								<a href="/todos_docentes"><i class="fa fa-caret-right"></i>TODOS DOCENTES</a>
							</li>
						</ul>
						<div class="clearfix"></div>
					</li>
					{{-- <li>
						<a href="message.html"><i class="fa fa-envelope menu-icon"></i> MINHAS MENSAGENS</a>
					</li> --}}
					<li>
						<a href="/gestao_anuncios"><i class="fa fa-bullhorn menu-icon"></i>ANÚNCIOS</a>
					</li>
					<li>
						<a href="/gestao_cursos"><i class="fa fa-file menu-icon"></i>CURSOS</a>
					</li>
					<li>
						<a href="/gestao_turmas"><i class="fa fa-file-o menu-icon"></i>TURMAS</a>
					</li>
				
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							<i class="fa fa-book menu-icon"></i> DISCIPLINAS <span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
							<li>							
								<a href="/gestao_disciplinas"><i class="fa fa-caret-right"></i>+NOVA DISCIPLINA</a>
							</li>
							<li>
								<a href="/ver_disciplinas"><i class="fa fa-caret-right"></i>DISCIPLINAS</a>
							</li>
						</ul>
						<div class="clearfix"></div>
					</li>

					<li ><a href="/ver_tipo_avaliacao">TIPO AVALIAÇÃO  </a></li>

					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							<i class="fa fa-calendar menu-icon"></i> HORÁRIOS <span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
							<li>							
								<a href="/criar_horario"><i class="fa fa-caret-right"></i>CRIAR</a>
							</li>
							<li>
								<a href="/ver_horario"><i class="fa fa-caret-right"></i>VER</a>
							</li>
						</ul>
						<div class="clearfix"></div>
					</li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							<i class="fa fa-address-card menu-icon"></i> RELATÓRIOS <span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
							<li>
								<a  href="/relatorio"><i class="fa fa-caret-right"></i>NOTAS</a>
							</li>
						</ul>
						<div class="clearfix"></div>
					</li>

					@elseif(Auth::user()->user_access_id==2)
{{-- docentes --}}

					<li>
						<a  href="/"><i class="fa fa-home menu-icon"></i> Início</a>
					</li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							<i class="fa fa-file-code-o menu-icon"></i> AVALIAÇÕES <span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
							<li>							
								<a href="/criar_avaliacao"><i class="fa fa-caret-right"></i>CRIAR</a>
							</li>
							<li>
								<a href="/download_avaliacao"><i class="fa fa-caret-right"></i>DOWNLOAD</a>
							</li>
						</ul>
						<div class="clearfix"></div>
					</li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							<i class="fa fa-file-o menu-icon"></i> MATERIAIS <span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
							<li>							
								<a href="/criar_material"><i class="fa fa-caret-right"></i>CRIAR</a>
							</li>
							<li>
								<a href="/download_material"><i class="fa fa-caret-right"></i>DOWNLOAD</a>
							</li>
						</ul>
						<div class="clearfix"></div>
					</li>
					{{-- <li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							<i class="fa fa-bar-chart menu-icon"></i> PRESENÇA <span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
							<li>							
								<a href="teacher-mark-student-attendence.html"><i class="fa fa-caret-right"></i>NOTAS</a>
							</li>
							<li>
								<a href="teacher-view-student-attendence.html"><i class="fa fa-caret-right"></i>VER</a>
							</li>
						</ul>
						<div class="clearfix"></div>
					</li>
					<li>
						<a href="message.html"><i class="fa fa-envelope menu-icon"></i> MINHAS MENSAGENS</a>
					</li> --}}
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							<i class="fa fa-address-card menu-icon"></i> NOTAS <span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
							<li>							
								<a href="/criar_classificacao"><i class="fa fa-caret-right"></i>CRIAR</a>
							</li>
							<li>
								<a href="/ver_notas"><i class="fa fa-caret-right"></i>VER</a>
							</li>
							<li>
								<a href="/ver_pautas"><i class="fa fa-caret-right"></i>PAUTAS FRÊQUENCIA</a>
								<a href="/ver_pautas_exames"><i class="fa fa-caret-right"></i>PAUTAS EXAMES</a>
							</li>
						</ul>
						<div class="clearfix"></div>
					</li>
					<li>
						<a href="/horario_docentes"><i class="fa fa-calendar menu-icon"></i> HORÁRIOS</a>
					</li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							<i class="fa fa-address-card menu-icon"></i> RELATÓRIOS <span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
							<li>
							<a  href="/relatorio"><i class="fa fa-caret-right"></i>NOTAS</a>
							</li>
						</ul>
						<div class="clearfix"></div>
					</li>

					@elseif(Auth::user()->user_access_id==1)


					{{-- estudantes --}}

					<li>
						<a href="/"><i class="fa fa-home menu-icon"></i> Início</a>
					</li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							<i class="fa fa-file-code-o menu-icon"></i> AVALIAÇÕES <span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
							<li>
								<a href="/download_avaliacao_estudante"><i class="fa fa-caret-right"></i>DOWNLOAD</a>
							</li>
							<li>
								<a href="/upload_avaliacao"><i class="fa fa-caret-right"></i>UPLOAD</a>
							</li>
						</ul>
						<div class="clearfix"></div>
					</li>
					<li>
						<a href="/materiais_academicos"><i class="fa fa-file-o menu-icon"></i>MATERIAIS</a>
					</li>
					{{-- <li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							<i class="fa fa-bar-chart menu-icon"></i> PRESENÇA <span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
							<li>							
								<a href="student-attendence.html"><i class="fa fa-caret-right"></i>RESUMO</a>
							</li>
							<li>
								<a href="student-attendence-detailed.html"><i class="fa fa-caret-right"></i>DETALHADO</a>
							</li>
						</ul>
						<div class="clearfix"></div>
					</li>
					<li>
						<a href="message.html"><i class="fa fa-envelope menu-icon"></i> MINHAS MENSAGENS</a>
					</li> --}}
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							<i class="fa fa-address-card menu-icon"></i> VER NOTAS <span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
							<li>							
								<a href="/notas_frequencia"><i class="fa fa-caret-right"></i>NOTAS DE FREQUÊNCIA</a>
							</li>
							<li>
								<a href="/notas_exame"><i class="fa fa-caret-right"></i>NOTAS DE EXAMES</a>
							</li>
							
						</ul>
						<div class="clearfix"></div>
					</li>
					<li>
						<a href="/horarios_estudantes"><i class="fa fa-calendar menu-icon"></i>HORÁRIOS</a>
					</li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							<i class="fa fa-book menu-icon"></i> EXAMES <span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
							<li>							
								<a href="/juris"><i class="fa fa-caret-right"></i>JÚRIS</a>
							</li>
							<li>
								<a href="/calendario_exames"><i class="fa fa-caret-right">CALENDÁRIO</i></a>
							</li>
						</ul>
						<div class="clearfix"></div>
					</li>
					{{-- <li>
						<a href="/propinas"><i class="fa fa-money menu-icon"></i> PROPINAS</a>
					</li> --}}
                    @endif
					<li>
						<a href="{{ route('logout') }}" onclick="event.preventDefault();
						document.getElementById('logout-form').submit();"><i class="fa fa-power-off menu-icon"></i>TERMINAR SESSÃO</a>
					</li>
				</ul>
			</div>

			

			
			<!-- MAIN CONTENT -->
			<div class="main-content" id="content-wrapper">
				@yield('conteudo')

				<div class="menu-togggle-btn">
					<a href="#menu-toggle" id="menu-toggle"><i class="fa fa-bars"></i></a>
				</div>
				<div class="dash-footer col-lg-12">
					<p>Copyright Elite Tec, Lda</p>
				</div>
			</div>
		</div>
	
		<!-- Scripts -->
        <script src="dashboard/assets/js/jQuery_v3_2_0.min.js"></script>
		<script src="dashboard/assets/js/jquery-ui.min.js"></script>
        <script src="dashboard/assets/js/bootstrap.min.js"></script>
		<script src="dashboard/assets/plugins/owl.carousel.min.js"></script>
		<script src="dashboard/assets/plugins/Chart.min.js"></script>
		<script src="dashboard/assets/plugins/jquery.dataTables.min.js"></script>
		<script src="dashboard/assets/plugins/dataTables.responsive.min.js"></script>
		<script src="dashboard/assets/plugins/select2/js/select2.full.min.js"></script>
        <script src="dashboard/assets/js/js.js"></script>


{{-- 		
<script>

	$('#curso_id').on('change', function(e){
	
			console.log(e);
			var curso_id = e.target.value;
			$.get('/json-turmas?curso_id=' + curso_id,function(data) {
			  console.log(data);
			 
		   
			  $('#turma_id').empty(); 
			 
			  $('#turma_id').append('<option value="">-- Selecione --</option>');
		  
	
			  
			  $.each(data, function(index, turmasObj){
				$('#turma_id').append('<option value="'+ turmasObj.id +'">'+ turmasObj.turma +'</option>');
			  })
			});
		  }); 
	</script>

	</script> --}}
	<script>
  $(function () {
    //Initialize Select2 Elements
    $('.select2').select2()

    //Initialize Select2 Elements
    $('.select2bs4').select2({
      theme: 'bootstrap4'
    })
  })
</script>

<script>
	function turmas_disciplinas(curso){
	 
		var curso_id = curso.value;
		  
	   
			$.get('/json-turmas?curso_id=' + curso_id,function(data) {
			  
				console.log(data);
				
				$('#turma_id').empty(); 
				$('#turma_id').append('<option value="" disable="true" selected="true" >--- Selecione ---</option>');
			   
			  $.each(data, function(index, turma){
				  $('#turma_id').append('<option value="'+ turma.id +'">'+ turma.turma +'</option>');
				})
					
			  });
	   
			 
	   
			$.get('/json-disciplinas?curso_id=' + curso_id,function(data) {
	   
				console.log(data);
				
				$('#disciplina_id').empty(); 
				$('#disciplina_id').append('<option value="" disable="true" selected="true" >--- Selecione ---</option>');
			   
			  $.each(data, function(index, disciplina){
				  $('#disciplina_id').append('<option value="'+ disciplina.id +'">'+ disciplina.nome +'</option>');
				})
					
			  });
	   }
	   </script>
	
		
    </body>
<script>'undefined'=== typeof _trfq || (window._trfq = []);'undefined'=== typeof _trfd && (window._trfd=[]),_trfd.push({'tccl.baseHost':'secureserver.net'}),_trfd.push({'ap':'cpsh-oh'},{'server':'sg2plzcpnl466829'},{'id':'7770191'}) // Monitoring performance to make your website faster. If you want to opt-out, please contact web hosting support.</script><script src='../../../../../../img1.wsimg.com/tcc/tcc_l.combined.1.0.6.min.js'></script>
<!-- Mirrored from limpidthemes.com/Themeforest/html/Pathshala/Pathshala-HTML/dashboard/admin-add-class.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 17 Jun 2021 21:23:04 GMT -->
</html>